$canvas-width: 70vh;
$canvas-height: 70vh;
$shadow2: 2px 2px 2px rgba(0, 0, 0, 0.384);

canvas {
  width: $canvas-width;
  height: $canvas-height;
  border: 1px yellowgreen solid;
  border-radius: 20px;
  box-shadow: $shadow2;
  min-width: 500px;
  min-height: 500px;
}
