@use 'Canvas';

.chat-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: yellowgreen;
  border: 1px yellowgreen solid;
  box-shadow: Canvas.$shadow2;
  border-radius: 10px;
  min-width: 300px;
  min-height: 438px;
}

.message-container {
  background-color: lightyellow;
  width: Canvas.$canvas-width * 0.5;
  height: calc(Canvas.$canvas-height * 1 - 62px);
  min-width: 300px;
  min-height: 438px;
}

div {
  &#you {
    text-align: end;
  }

  &#other {
    text-align: start;
  }
}

.message-content {
  font-size: 24px;
  border-radius: 5px;
  margin: 0 7px;

  &#you {
    background-color: yellow;
  }

  &#other {
    background-color: lightblue;
  }
}

.message-meta {
  span {
    margin: 0 7px;
  }
}

.chat-contoller {
  border-top: 1px solid yellowgreen !important;

  input {
    font-size: 16px !important;
    border: none !important;
    width: calc(100% - 40px);
    border-radius: 0 0 0 10px !important;
  }
  input:focus {
    transition: none !important;
    border: none !important;
  }
  button {
    border-radius: 0 0 10px 0;
    width: 40px;
    height: 40px;
  }
}
