@use 'Canvas';

@mixin hover-button() {
  opacity: 0.5;
  background-color: orange;
}

@mixin button-config() {
  padding: 10px;
  background-color: yellowgreen;
  color: white;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: opacity linear 0.5s;
  box-shadow: Canvas.$shadow2;
}

.controller-container {
  width: Canvas.$canvas-width;
  min-width: 500px;
}

.controller-items {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border: none;
  padding: 0;
  &#file {
    display: none;
  }
}

label#file {
  @include button-config();
  &:hover {
    @include hover-button();
  }
}

button {
  @include button-config();
  &:hover {
    @include hover-button();
  }
}

.color-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  cursor: pointer;
  transition: transform ease-in-out 0.1s;
  box-shadow: Canvas.$shadow2;
}

.color-option:hover {
  transform: scale(1.1);
}
